/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/11/2015, 11:33:08
    Author     : cezaralexande
*/

@import "../bourbon/bourbon";
@import "../neat/neat";
@import "variables.scss";
@import "mixins.scss";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
    background-color: $blue;
    color: $font-color;
    font: {
        family: 'Montserrat', sans-serif;
        size: 12px;
    }
}

.container{
    @include outer-container(960px);
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    text:{
        transform: uppercase;
    }
}

#{$all-buttons} , .btn{    
    @include padding(15px);
    @include border-bottom-radius(3px);
    @include border-top-radius(3px);    
    border: none;
    margin: 9px 0px;
    $btn-color: $gray;
    $btn-font-size: 1.5em;  
    
    &.btn-success{
        $btn-color: $green;
        color: $font-color;        
    }

    &.btn-larger{
        @include padding(20px);
    }

    &.btn-block{
        @include fill-parent;
    }    
    
    background:{
        color: $btn-color;
    }
    
    font:{
        size: $btn-font-size;
    }

    &:hover, &:focus{
        background-color: shade($btn-color, 10%);
    }
}

#{$all-text-inputs}{
    @include fill-parent;
    @include border-bottom-radius(5px);
    @include border-top-radius(5px);    
    margin: 9px 0px;
    padding: 10px;
    color: $darken-blue;        
    border: 2px solid transparent;
}

#{$all-text-inputs-focus}{
    border-color: $green;
    box-shadow: 0 0 5px $green;
}


a{
    color: $font-color;
    text-decoration: none;
}

.title{
    h2{
        padding: 60px 0 30px 0;
        font:{
            size: 2.83333em;
        }
    }    
    text:{
        align: center;
    }
    > span{
        display: block;
        margin-bottom: 40px;
        font-size: 1.166667em;
    }
}

.header{
    background-color: $darken-blue;
    text-transform: uppercase;
    height: 125px;
    line-height: 125px;    
    .logo{
        @include span-columns(6);  
        padding-left: 40px;
    }
    .menu{
        @include span-columns(6);        
        text-align: right;
        a{
            font-size: 1.16667em;
            margin-left: 39px;            
            &:hover, &:focus{
                border-bottom: 3px solid $green; 
            }
        }
    }    
}

.presentation{
    padding-bottom: 60px;
    
    .video{        
        @include span-columns(8);   
    }
    .contact-form{
        @include span-columns(4);     
        @include border-bottom-radius(5px);
        @include border-top-radius(5px); 
        
        height: 394px;
        background-color: $light-blue;        
        text-align: center;
        padding: 33px 22px;
        > h4{
            margin-bottom: 20px;
        }
        > span{
            display: block;    
            color: $secondary-text;
            margin-bottom: 13px;
            margin-top: 13px;
        }
    }
}

#features{
    height: 435px;
    background-color: #fff;
    color: $darken-blue; 
    ul{
        padding: 30px 0px;
        li{
            @include span-columns(4);
            padding: 0px 20px;
        }
    }
}

#reviews{
    height: 712px;
    background: {
        color: $light-gray;
    }
}
